<!doctype html>
<html>
  <head>
    <title><%= json.project.p4_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head-p4.html") %>
    <%= t.include("partials/_analytics-p4.html") %>
  </head>

  <body>

    <div id="sticky-anchor"></div>

    <%= t.include("partials/_nav-p4.html") %>

    <div class="title-container">
      <div class="background-img shorelines">
          <div class="dim"></div>
        <div class="over-img dim shorelines">
        <div class="embarcadero-img shorelines">
          <h1 class="title long">A grand response</h1>
          <div class="deck shorelines">Bay Area’s answer to sea level rise must be targeted, ambitious and creative</div>
          <p class="author">By John King</a></p>
          <p class="date">November 2016</p>
        </div>
        </div>
      </div>
    </div>
    <p class="caption landing">This is a caption. <span class="byline"> Michael Macor, The Chronicle</span></p>

    <div class="text">

      <p>The levee that rings Oakland International Airport seemingly has nothing in common with the salt-crusted stretch of flat land alongside Menlo Park’s Bayfront Park.</p>

      <p>One is a 7-foot-high line of boulders, an engineered barrier between the tidal flows that surge in through the Golden Gate twice daily and the runways used by10,000 commercial flights every month. The other is quiet desolation, a white void dotted with stagnant pools of water.</p>

      <p>Both, though, are examples of the Bay Area shoreline at risk from the long-term effects of sea level rise — and reminders that there’s no single way to prepare for what might lie ahead.</p>

      <p>The correct remedy in some areas of shoreline will involve forms of natural healing, with restored and managed marshes that provide habitat for wildlife and trails for people. But when major public investments or large residential communities are at risk, barriers might be needed to keep out water that wants to come in.</p>

      <p>It’s a future where now-isolated salt ponds near Silicon Valley would be reunited with the larger bay, while North Bay farmland is turned back into marshes. Levees that protect the lagoon-sliced suburb of Foster City likely would grow higher, as would the Oakland airport’s seawall.</p>

    </div>

    <div class="interactive-wrapper">

      <div class="map-interactive-mobile">
        <div class="interactive-header mobile">
          <div class="hed">A range of responses</div>
          <div class="chatter">Anyone who knows San Francisco Bay knows that no two stretches of the shoreline are alike. Here are four areas where preparing for the future takes much different forms.</div>
        </div>
        <div class="divider map"></div>
        <div class="mobile-container">
          <div class="scroll-left first" id="scroll-left-lastmap"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
          <div class="scroll-right" id="scroll-right-lastmap"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
          <div class="mobile-template"></div>
        </div>
      </div>

      <div class="interactive-header desktop">
        <div class="hed">A range of responses</div>
        <div class="chatter">Anyone who knows San Francisco Bay knows that no two stretches of the shoreline are alike. Here are four areas where preparing for the future takes much different forms.
        <div class="boldtext"><i class="fa fa-arrow-circle-right" aria-hidden="true"></i></i>Click locations on the map to see where strategies are in the works or being planned.</div>
        </div>
      </div>
      <div class="flex-container">
        <div class="info">
          <div class="info-text note">
            <p>
          </div>
        </div>
        <div class="image">
          <img class="background" src="../assets/graphics/part4/map_bayarea.png" usemap="#imageMap">
          <map name="imageMap">
            <area class="last-map-group" shape="rect" coords="34,35,118,117" alt="sonoma" title="sonoma"/>
            <area class="last-map-group" shape="rect" coords="174,286,224,337" alt="sanleandro" title="sanleandro"/>
            <area class="last-map-group" shape="rect" coords="151,389,210,450" alt="fostercity" title="fostercity"/>
            <area class="last-map-group" shape="rect" coords="212,431,266,482" alt="ravenswood" title="ravenswood"/>
          </map>
        </div>
      </div>
      <div class="interactive-credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        <div class="entry">John Blanchard  &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      </div>

    </div>

    <div class="text">

      <p>The troubling question is whether the region can adapt itself at the scale we need in the time we have. Projections done in 2012 by the National Research Council, a scientific think tank, suggest that looking ahead to 2100, the “most likely” scenario for bay rise is average tides 36 inches higher than today’s. The worst-case scenario is more sobering, 66 inches. In either case, the tidal changes are expected to accelerate after 2050.</p>

      <p>“We’re in a big transitional period,” said Allison Brooks, executive director of the Bay Area Regional Collaborative, an alliance of four state agencies that play a regulatory role in planning in the nine Bay Area counties. “There’s not going to be a magic bullet.”</p>

      <p>Whatever the precise impacts of sea level rise, the mistake for us would be to treat it as one of those problems to be dealt with someday, down the road. Addressing the issue should be a Bay Area-wide priority on par with housing or transportation, and is one that will require government at all levels working together.</p>

      <p>There’s another ingredient that would help. We need the spark of imagination.</p>

      <p>This might sound frivolous, but it’s essential. No matter how grim the political climate in Washington, D.C., might be, the design community here and beyond can offer scientifically grounded visions of the future that stir a sense of potential rather than dwelling on apocalyptic what-ifs. A proposed competition would offer us the chance to move the discussion forward; the sooner that it begins the better off we all could be.</p>

    </div>

    <div class="photo-gallery6">
      <div class="scroll-left-gallery6 first" id="scroll-left-gallery6"><i class="fa fa-angle-left" aria-hidden="true"></i></div>
      <div class="scroll-right-gallery6" id="scroll-right-gallery6"><i class="fa fa-angle-right" aria-hidden="true"></i></div>
      <div class="photo_g6 active" id="photo_g60"></div>
      <div class="photo_g6" id="photo_g61"></div>
      <div class="photo_g6" id="photo_g62"></div>
      <div class="photo_g6" id="photo_g63"></div>
    </div>

    <div class="text">

      <p>“I tell people, ‘Give me an air boat and a box of dynamite, and I’ll restore the marshes,’” said John Bourgeois, driving his Prius across bumpy levees on the south edge of the bay, Silicon Valley’s tech campuses visible through the haze. “But I’d destroy the infrastructure.”</p>

      <p>Bourgeois is executive manager of the California Coastal Conservancy’s South Bay Salt Pond Restoration Project, which since 2004 has worked to bring 15,100 acres of former marshland back to life. About 3,750 acres have been restored so far in an effort that, when completed, will be the largest such reclamation in the Western United States.</p>

      <p>His tour of this site begins near a managed pond where white pelicans linger. Nearby are the lumpy remnants of a levee, bits of it left in place after it was breached so that salt marsh harvest mice, an endangered species, can scamper to safety during extra-high tides. Other levees, still intact, frame grids of water that were marshland before they were remade more than a century ago to extract salt from the bay’s briny flow.</p>

      <p>This methodically altered landscape bears witness to how we treated the bay between the 1850s — when migrants descended on California seeking riches — and the 1960s, when the idea of filling the bay became virtually taboo.</p>

      <p>First, a levee would be erected at the far edge of tidal flats. Berms added on the inland side allowed marshes to be flooded to create ponds of uniform depth. Bay waters were pumped into the first artificial pond in the sequence, then moved from pool to pool as evaporation took place.</p>

      <p>The process took about five years, each pond becoming saltier than the one before. The end result: mountains of white crystals waiting to be refined and sold.</p>

      <p>One functioning salt works remains north of Fremont, several thousand acres carved into ponds of different colors and operated by Cargill. Within the 10,000-plus unrestored acres that are controlled by the Coastal Conservancy, the next phase of restoration should begin in 2018 — an $11 million rebirth of 730 acres on the shore of Menlo Park known as Ravenswood Ponds.</p>

      <p>So much salt remains here that parts of the old, dried-up ponds look like disheveled ice rinks. Within 15 years, though, if all goes well, the area will be shorebird habitat as well as marshes intended to soften the force of rising waters. The wetlands will also protect neighbors like Facebook’s main campus, which borders the area.</p>
    </div>

    <div class="float-img-container">
      <div class="float-img left">
        <img src="http://ww2.hdnux.com/photos/54/11/64/11813238/3/2000x1000.jpg">
        <div class="caption">This is a caption. <span class="byline">Michael Macor, The Chronicle</span></div>
      </div>
    </div>

    <div class="text">

      <p>By starting now, the restored tidal marshes should be hardy enough that as sea level rises, the remade wetlands will endure.</p>

      <p>“Several feet of sediment needs to accumulate before vegetation can take hold,” Bourgeois said. “Once it does, marshes can keep pace” with all but the most extreme projections through the end of the century.</p>

      <p>Starting the process sooner rather than later also allows time for trial and error.</p>

      <p>That approach came in handy on the bay’s northern rim, where one of the first large-scale conversions to wetlands occurred near Sears Point and Highway 37 beginning in 1996.</p>

      <p>Today, the former hay fields where a levee was breached are a sleepy rustle of cord grass and pickleweed sliced by blue rivulets of water that swell and contract depending on the tide.</p>

      <p>Initially, though, the 25-foot-wide gap made in the levee was too narrow to allow San Pablo Bay to reassert itself. Years passed before storms created an openingwide enough to let sediment build up and vegetation take root. The conversion was a success, but took much longer than anticipated.</p>

      <p>Last fall the Sonoma Land Trust undertook a similar effort on 1,000 acres next door, but created a breach 10 times the width of the 1996 gap. Portions of the shoreline, meanwhile, were molded into slowly rising slopes known as horizontal levees, where, if needed, marshes can migrate as sea level rises.</p>

      <p>Such levees are the current rage among marsh planners. Yet at this site, the mud dredged to form the slopes has such high acid counts that seeds placed there haven’t sprouted.</p>

      <p>The trust’s program manager for the effort is Julian Meisler. This fall he took stock of the situation and canceled an order for $10,000 worth of seeds that were to be planted there.</p>

      <p>Instead, Meisler ordered 125 tons of lime. A local farmer spread the material and then plowed it into the slope, reducing the acid levels so that native plants someday will sprout.</p>

      <p>“Going from dry to wet overnight is the easy part,” Meisler said during a visit to Sears Point, where he pointed with relish to a single tuft of cord grass poking above the muck. “After that, everything takes time.”</p>

    </div>

    <div class="inline-img">
      <img src="http://ww2.hdnux.com/photos/54/11/64/11813237/3/2000x1000.jpg">
      <div class="caption">This is a caption. <span class="byline">Michael Macor, The Chronicle</span></div>
    </div>

    <div class="text">

      <p>To understand why Foster City doesn’t have the luxury of cloaking itself in protective marshes, contemplate the view from Beach Park Boulevard: a 13-foot-high levee that stands between you and the bay.</p>

      <p>This community of nearly 35,000 people in San Mateo County sits on former tidal flats that were converted to ranch land around 1900. After T. Jack Foster bought the acreage in 1960, 18 million cubic yards of fill were used to raise future development parcels above sea level and shape lagoons that now hold boat slips for homeowners.</p>

      <p>Nobody anticipated that the Federal Emergency Management Agency in 2014 would place Foster City in a flood hazard zone. To escape that designation, the city expects to spend $70 million to raise existing levees an average of 3 feet — and perhaps millions more to take sea level rise into account.</p>

      <p>Some residents have called for a horizontal levee, but trying to redo the mudflats beyond Foster City would be hugely expensive and scientifically problematic. Instead, the engineering firm Schaaf &amp; Wheeler has devised a system with a line of metal plates that could be driven into the current levee. Adding a knee-high wall to the path along the levee’s crest would add to the expense, but also would protect against the tide levels forecast through at least 2050. The City Council is scheduled to choose a preferred option early next year.</p>

  </div>

  <div class="outer outer-slider" style="max-width: 700px">

    <div class="hed">Keeping out a rising bay</div>
    <div class="chatter">Two views toward the bay from Bridgeview Park in Foster City: one as it appears today, and how things might look in 2050 if the levee is raised high enough to protect the waterfront community from storm surges coupled with sea level rise.</div>

    <div style="text-align: center; width: 90%; margin: 0 auto;">
    <image-slider style="width: 100%; max-width: 700px; overflow: hidden">
      <img src="http://ww2.hdnux.com/photos/54/11/64/11813275/3/2000x1000.jpg">
      <img src="http://ww2.hdnux.com/photos/54/11/64/11813272/3/2000x1000.jpg">
    </image-slider>
    </div>

    <div class="interactive-credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:benjamin.din@gmail.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
    </div>

    <div class="interactive-credit">
        <div class="entry">Photos: BFS Landscape Architects</div>
    </div>

  </div>

  <div class="text">

    <p>“The idea is to build a foundation for the future,” said Schaaf &amp; Wheeler’s Chuck Anderson. “Everyone around the bay is going to be dealing with decisions like this.”</p>

    <p>That’s already the case at Oakland International Airport, which is exposed to the bay on three sides.</p>

    <p>The main runways are fringed by bouldered riprap. But to the east, facing a bay inlet known as San Leandro Bay, airport property ends at the low bend of Doolittle Drive, a roadway owned by Caltrans that leads into the city of Alameda.</p>

    <p>San Leandro Bay includes restored wetlands managed by the East Bay Regional Park District. A study done for the Bay Conservation and Development Commission demonstrates that with as little as 12 inches of sea level rise during storms, when tides are higher than normal, water could surge across marshes and Doolittle Drive onto the runways that serve private aircraft.</p>

  </div>

  <div class="float-img-container">
    <div class="float-img left">
      <img src="http://ww2.hdnux.com/photos/54/11/64/11813278/3/2000x1000.jpg">
      <div class="caption">This is a caption. <span class="byline">Michael Macor, The Chronicle</span></div>
    </div>
  </div>

  <div class="text">

      <p>Unlike its rival airport in San Francisco, which is gathering approvals for a $58 million “shoreline protection project” that includes 4 miles of taller seawalls, Oakland is taking a more episodic approach.</p>

      <p>“We’re studying the entire levee, but we may not have to fix the entire levee,” said Richard Sinkoff, director of environmental programs and planning at the Port of Oakland, which owns and operates the airport. “We’re focusing on the areas that are most critical to protect the entire airport.”</p>

      <p>That includes Doolittle Drive, the weak link in the chain. “If we solve this particular stretch, we’re pretty much protected” through at least 2050, Sinkoff said. “A huge problem becomes a manageable issue.”</p>

      <p>In an ideal world — meaning a region with a holistic approach to the challenges posed by climate change — the port, Caltrans, Alameda and the East Bay parks would collaborate on an adaptation plan for San Leandro Bay. They’d pool resources on an environmentally sensitive response that takes everyone’s needs into account. But if protecting the airport is a top priority for Oakland, a service road to Alameda probably isn’t high on Caltrans’ to-do list.</p>

      <p>So the day may come when the port will need to bite the bullet and raise the edge of its property on the airport side of Doolittle Drive. Even though, realistically, the other upgrades will need to be made at some point as well, a duplication of efforts and expense for everyone involved.</p>

    </div>

    <div class="full-width-img">
      <img src="http://ww2.hdnux.com/photos/54/11/64/11813239/3/2000x1000.jpg">
      <div class="caption">This is a caption. <span class="byline">Michael Macor, The Chronicle</span></div>
    </div>

    <div class="text">

      <p>The regulatory dilemmas that hinder the Bay Area’s ability to prepare for sea level riseare confounding, whether it is the four years to secure the approvals and permits for the Ravenswood Ponds or the bureaucratic thicket along San Leandro Bay.</p>

      <p>It’s easy to respond by fixating on the need for government reform and comprehensive planning. But there’s another avenue being pursued — a path that could lead to solutions and strategies we might not otherwise find.</p>

      <p>That would be Resilient by Design — a design competition on a grand scale that aims to tackle the local impacts of climate change and sea rise in ways that are creative and compelling, without crossing into the realm of sci-fi.</p>

      <p>“We want new ideas. We also want ideas based on reality,” said Margie Driscoll, one of two consultants working on the nine-county effort. “We’re keenly interested in making sure that they can be implemented.”</p>

      <p>That aim distinguishes Resilient by Design from a previous effort. In 2009, the Bay Conservation and Development Commission held the <a href="http://www.sfchronicle.com/news/article/Designers-answer-call-to-fight-rising-seas-3224161.php" target="_blank">Rising Tides design competition </a>— essentially a consciousness-raising exercise that drew crowds to the Ferry Building to see 131 submissions.</p>

      <p>“The whole idea at that point was to get the Bay Area thinking about sea level rise” rather than find actual workable responses, Driscoll said.</p>

    </div>

    <div class="float-img-container">
      <div class="float-img right sidebar">

        <div id="sidebar-link">
          <i class="fa fa-external-link sidebar-fa" aria-hidden="true"></i>
          <div class="sidebar-text"><span class="bold">If the Bay Area is worried about sea level rise, why not limit the amount of water coming into San Francisco Bay through the Golden Gate?</span></div>
          <div class="floating-img">
            <img src="../assets/photos/marshes/risingbay1120_dam.jpg"></img>
          </div>
          <div class="caption">A 1949 Chronicle diagram of the Reber plan, complete with room for an eight-lane roadway between Oakland and San Francisco. Not only that, the paper wrote, turning the far ends of the bay into freshwater lakes “would make warm days cooler and cool days warmer.” Said the creator, John Reber, “I’d even change the climate. This is some project.” <span class="byline"> The Chronicle</span></div>
        </div>
      </div>
    </div>

    <div id="sidebar">
      <div id="sidebar-content">
          <div class="float-img-container sidebar-img">
            <div class="float-img right">
              <img src="../assets/photos/marshes/risingbay1120_dam.jpg"></img>
              <div class="caption">A 1949 Chronicle diagram of the Reber plan, complete with room for an eight-lane roadway between Oakland and San Francisco. Not only that, the paper wrote, turning the far ends of the bay into freshwater lakes “would make warm days cooler and cool days warmer.” Said the creator, John Reber, “I’d even change the climate. This is some project.” <span class="byline"> The Chronicle</span></div>
            </div>
          </div>
          <i id="large" class="fa fa-times fa-2x sidebar-fa" aria-hidden="true"></i></a>
          <div class="full-sidebar-text">
            <%= t.include("partials/_sidebar_content.html") %>
          </div>
      </div>
    </div>

    <div class="text">

      <p>This time, the competition is envisioned as a yearlong effort with a $5 million budget. After a request for qualifications, 10 teams would be selected. Each would include architects or landscape architects as well as firms with expertise in such fields as hydrology and marine engineering.</p>

      <p>Each team would be awarded a six-figure commission and assigned a distinct site along the bay. They’d be given several months to work with local residents to devise a plan for their site that passes environmental musterand has community support.</p>

      <p>The model is New York’s Rebuild by Design, which was held after the ravages of 2012’s Hurricane Sandy and spurred such provocative notions as wave-calming oyster beds in the Hudson River.</p>

      <p>But unlike New York’s competition, the Bay Area effort isn’t being funded with federal dollars provided after a natural disaster. Instead, Resilient by Design languished for months as San Francisco officials made fitful starts at raising the money needed to pull things off. Now there’s a 10-member oversight board drawn from around the region and a fundraising consultant making the rounds of foundations and local corporations.</p>

      <p>“The idea is a deeply researched set of proposals with lots of people involved,” said Sam Schuchat, who heads the state’s Coastal Conservancy and is on the competition’s board. “If nothing else, we’ll get fresh thinking from smart design teams,” including thoughts on how to streamline the governmental maze.</p>

      <p>Another board member is Brooks, from the Bay Area Regional Collaborative.</p>

      <p>“Our officials and politicians have been good at bringing this issue (sea level rise) forward,” Brooks said. “What’s been missing is turning from that to: ‘What can we do about it?’”</p>

      <p>Brooks is right.</p>

      <p>The Bay Area deserves credit for not ignoring the likelihood that we’ll need to learn to live with a bay much different than the one residents in the 1960s and ’70s fought so hard to save. The ongoing restoration of the South Bay salt ponds as well as the flexibility shows that we aren’t burying our heads in the sand. So does San Francisco’s requirement that development projects along the shore need to be elevated at least 3 feet above current ground levels.</p>

      <p>But these individual local initiatives must be paired with a regional approach — one ambitious and wide-ranging enough to generate responses that can be put into action in years, not decades.</p>

      <p>Resilient by Design could do this by tapping into our shared imagination. It deserves support from local governments and businesses, as well as far-sighted foundations that recognize the best time to face the future is before a disaster strikes, not afterward.</p>

      <p>Climate change and sea level rise are ominous clouds on our horizon. But our region has faced adversity before. We have an opportunity, to begin to bring the challenge down to size. If we succeed, the rest of the world will take notice.</p>

    </div>

    <div class="inset-splash">
        <div class='embed-container'><iframe src='https://player.vimeo.com/video/186459591' frameborder='0' webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe></div>
        <div class="caption">A virtual reality viewfinder system designed by Owlized was installed in August at Coyote Point Recreation Area in San Mateo County. It is scheduled to be in place through the end of 2016. <span class="byline">Erin Brethauer, The Chronicle</span></div>
    </div>

    <div class="inline-img">
      <%= t.include("partials/_introbox.html") %>
    </div>


    <div class="a-next"><a href="<%= json.project.url + json.project.slug %>" id="next" class="anchor"><div class="next">Read the rest of Rising Reality</div></a></div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var mapData = <%= JSON.stringify(csv.lastMap) %>;
    </script>

    <script src="../marshes_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
