<div class="divider">
</div>

<div class="credits">
  <div class="entry">Reporter:  <br>John King &bull; <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/johnkingsfchron" target="_blank">@johnkingsfchron</a></div>
  <div class="entry">Interactive producers:  <br>Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a>
  <br>Benjamin Din  &bull; <a href="mailto:bdin@sfchronicle.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a>
  <br>Lucio Villa  &bull; <a href="mailto:lvilla@sfchronicle.com">lvilla@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/luciovilla" target="_blank">@luciovilla</a></div>
  <div class="entry">Illustrations:  <br>John Blanchard &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
  <div class="entry">Photographer:  <br>Michael Macor &bull; <a href="mailto:mmacor@sfchronicle.com">mmacor@sfchronicle.com</a>   &bull; <a href = "https://www.instagram.com/mmacor/" target="_blank">@mmacor</a></div>
  <div class="entry">Videographer: <br>Erin Brethauer  &bull; <a href="mailto:ebrethauer@sfchronicle.com">ebrethauer@sfchronicle.com</a>   &bull; <a href = "https://www.instagram.com/erinbrethauer/" target="_blank">@erinbrethauer</a></div>
</div>

<div class="divider">
</div>

<div class="dont-miss">
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/sf-marathon-data/" target="_blank">
      <img src="../assets/social/dont-miss-marathon.jpg"></img>
    </a>
      <div class="small">Running the numbers on the SF marathon</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/visas/" target="_blank">
      <img src="../assets/social/dont-miss-visas.png"></img>
    </a>
      <div class="small">H-1B visas: who gets them, where they go</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/teacher-pay/" target="_blank">
      <img src="../assets/social/dont-miss-teacherpay.jpg"></img>
    </a>
      <div class="small">Teachers struggle to stay in SF</div>
    </div>
  </div>
  <div class="story">
    <div class="padded">
    <a href="http://projects.sfchronicle.com/2016/airbnb/" target="_blank">
      <img src="../assets/social/dont-miss-airbnb.jpg"></img>
    </a>
      <div class="small">Airbnb and rivals thrive</div>
    </div>
  </div>
</div>

<footer>
  <a class="logo" href="http://www.sfchronicle.com" target="_blank">
    <img src="../assets/logos/sf_logo_white.png">
  </a>
</footer>
