<div class="navigation">
  <div class="jump-navigation sticky" id="sticky-element">
    <div class="jump-links">
      <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
        <img src="../assets/logos/sfletter_c_white.png"></a>
      </div>
      <div class="link link-title"><a href="/">Rising reality</a></div>
      <div class="link hideme" id="part1_link"><a href="/part1" class="anchor">The Risk</a></div>
      <div class="link hideme" id="part2_link"><a href="/part2" class="anchor">The Embarcadero</a></div>
      <div class="link hideme" id="part3_link"><a href="/part3" class="anchor">The Circus</a></div>
      <div class="link hideme" id="resources_link"><a href="/resources" class="anchor">Resources</a></div>
      <a id="twitter-icon" class="link social" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/sea-level-rise/%23part2&text=Shoring%20up%20SF%E2%80%99s%20edge%3A%20Bay%20waters%2C%20aged%20seawall%20threaten%20Embarcadero.&hashtags=RisingReality">
          <i class="fa fa-twitter"></i>
      </a>
      <a id="facebook-icon" class="link social" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2Fsea-level-rise%2F%23part2', 'facebook-share-dialog', 'width=626,height=436'); return false;">
            <i class="fa fa-facebook"></i>
      </a>
      <a id="mail-icon" class="link social" href="mailto:?subject=Rising Reality: Shoring up the city's edge&body=Special report: History, the future and politics collide as bay waters and an aged seawall threaten San Francisco's Embarcadero. http://projects.sfchronicle.com/2016/sea-level-rise/">
          <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
