<div class="navigation">
  <div class="jump-navigation sticky" id="sticky-element">
    <div class="jump-links">
      <div class="logo-link link"><a href="http://www.sfchronicle.com" target="_blank">
        <img src="http://projects.sfchronicle.com/shared/logos/sfletter_c_white.png"></a>
      </div>
      <div class="link link-title"><a href="/">Rising reality</a></div>
      <div class="link hideme" id="part1_link"><a href="<%= json.project.url %><%= json.project.slug %>part1" class="anchor">The Risk</a></div>
      <div class="link hideme" id="part2_link"><a href="<%= json.project.url %><%= json.project.slug %>part2" class="anchor">The Embarcadero</a></div>
      <div class="link hideme" id="part3_link"><a href="<%= json.project.url %><%= json.project.slug %>part3" class="anchor">The Future</a></div>
      <div class="link hideme" id="resources_link"><a href="<%= json.project.url %><%= json.project.slug %>resources" class="anchor">Resources</a></div>
      <a id="twitter-icon" class="link social" title="Share on Twitter" href="https://twitter.com/intent/tweet?url=http%3A//projects.sfchronicle.com/2016/<%= json.project.p3_slug %>&amp;text=<%= json.project.p3_twitter %>&amp;hashtags=<%= json.project.hashtag %>">
        <i class="fa fa-twitter"></i>
      </a>
      <a id="facebook-icon" class="link social" title="Share on Facebook" href="#" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http%3A%2F%2Fprojects.sfchronicle.com%2F2016%2F<%= json.project.p3_slug %>', 'facebook-share-dialog', 'width=626,height=436'); return false;">
        <i class="fa fa-facebook"></i>
      </a>
      <a id="mail-icon" class="link social" title="Share via email" href="mailto:?subject=<%= json.project.p3_title %>&body=<%= json.project.p3_description %> <%= json.project.url %><%= json.project.p3_slug %>">
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </div>
  </div>
</div>
