<p class="bold">Damming Golden Gate would be threat to SF Bay</p>

<p>Here’s a seemingly simple question: If the Bay Area is worried about sea level rise, why not limit the amount of water coming into San Francisco Bay through the Golden Gate?</p>

<p>“People often raise the idea when I give talks, as if they just thought of it,” said Laura Tam, a sustainable policy director at SPUR, a Bay Area urban planning think tank. “It sounds obvious, and they wonder why we haven’t vetted it.”</p>

<div class="float-img-container sidebar-img">
  <div class="float-img right">
    <img src="../assets/photos/marshes/dam_border.jpg"></img>
    <div class="caption">A 1949 Chronicle diagram of the Reber Plan that would make room for an eight-lane roadway between Oakland and San Francisco. The Army Corps of Engineers deemed the Rebar Plan “infeasible.” <span class="byline"> The Chronicle</span></div>
  </div>
</div>

<p>Protective tidal barriers are used in Europe. Engineered locks were installed across the River Thames outside London in the 1980s. The Netherlands has barriers to protect its southwest corner, including locks that are supposed to be triggered only by a combination of storm surges and high tides.</p>

<p>But the sheer force of twice-daily tides pushing through the Golden Gate’s narrow strait makes any construction project there mind-boggling to contemplate. Even if a set of locks or something similar could be installed, scientists say, the long-term effects could drastically alter the bay.</p>

<p>Limiting the highest tidal flows would imperil marshes that can survive with only occasional inundation. At the other extreme, trapping water inside barriers would raise low tides and drown the lowest rung of mudflats.</p>

<p>This wouldn’t be a threat as long as the locks were triggered only by the most extreme tides and storms. But, as sea levels rise over time, the locks would need to close more frequently — turning the bay into a virtual pond for hours at a time.</p>

<p>“The more you reduce the flow, the more you reduce the water quality,” said Jeremy Lowe, who heads the resilient landscapes program at the San Francisco Estuary Institute. “Storm surge barriers might work without sea level rise, but when you add it in you (eventually) lose your wetlands.”</p>

<p>The most audacious idea of this sort remains the decades-old Reber Plan, which would have left open the Golden Gate but turned the north and south ends of the bay into freshwater lakes. Other than locks to allow shipping in and out, there would have been a solid dam running east to west above and below the central bay.</p>

<p>It was the brainchild of John Reber, a former actor with no engineering training. He pushed the notion for years, topping his imagined structures on various occasions with highways and a naval base to attract support while touting the benefits of converting 20,000 or so acres of shallow bay into productive land. His biggest break came in 1950, when Congress appropriated $2.5 million to study the plan.</p>

<p>That effort led to the creation of the <a href="http://www.spn.usace.army.mil/Missions/Recreation/Bay-Model-Visitor-Center/" target="_blank">Bay Model,</a> a three-dimensional hydraulic tool the U.S. Army Corps of Engineers used to study the bay’s water flows that is still on view at a visitor’s center in Sausalito. Reber died in 1960. Army Corps released its verdict in 1963: “infeasible by any frame of reference.”</p>

<p class="italic">John King &bull; <a href="mailto:jking@sfchronicle.com">jking@sfchronicle.com</a>  &bull; <a href = "https://twitter.com/johnkingsfchron" target="_blank">@johnkingsfchron</a></p>
