<!doctype html>
<html>
  <head>
    <title><%= json.project.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head.html") %>
    <%= t.include("partials/_analytics.html") %>
  </head>

  <body>

    <div id="sticky-anchor"></div>

    <%= t.include("partials/_nav.html") %>

    <div class="title-container">
          <h1 class="title long landingtitle">Rising Reality</h1>
    </div>

    <div class="aboutcontainer">
      <div class="aboutlanding">
        <p style="text-align: center; font-size: 18px">Chronicle Urban Design Critic John King explores the implications of sea level rise in the Bay Area, from the perils facing San Francisco's crumbling Embarcadero to the potential rebirth of the South Bay’s salt marshes and the creation of a small city on man-made Treasure Island.</p>
      </div>

      <div class="linkbox" style="border-top: 0;">
        <div class="linkimg" id="p1"><a href="/part1"><div class="overlay"><div class="linkdesc">A regional response to bay's encroaching waters</div></div></a></div>
        <div class="imgbtm"><span class="embolden">May 2016</span> As the sea level continues to rise, researchers predict death and despair by 2100.</div>
      </div>

      <div class="linkbox">
        <div class="linkimg" id="p2"><a href="/part2"><div class="overlay"><div class="linkdesc">Shoring up the city's edge</div></div></a></div>
        <div class="imgbtm"><span class="embolden">July 2016</span> History, the future and politics collide as bay waters and an aged seawall threaten San Francisco's Embarcadero.</div>
      </div>

      <div class="linkbox">
        <div class="linkimg" id="p3"><a href="/part3"><div class="overlay"><div class="linkdesc">John King looks at the rising sea level</div></div></a></div>
        <div class="imgbtm"><span class="embolden">Sept. 2016</span> Who knows what the next installment will be? Only John King does, that's for sure. (And his editors, probably.)</div>
      </div>

      <div class="linkbox">
        <div class="linkimg" id="r"><a href="/resources"><div class="overlay"><div class="linkdesc">Resources</div></div></a></div>
        <div class="imgbtm">Delve into the impact and implications of the rising sea level with these resources.</div>
      </div>
    </div>

    <footer>
      <a class="logo" href="http://www.sfchronicle.com" target="_blank">
        <img src="../assets/logos/sf_logo_white.png">
      </a>
    </footer>

    <script src="app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
