<!doctype html>
<html>
  <head>
    <title><%= json.project.p3_title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" type="text/css" href="../style.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <%= t.include("partials/_head-p3.html") %>
    <%= t.include("partials/_analytics-p3.html") %>
  </head>
  <script>  var HDN = HDN || {}  </script>

  <body>

    <div id="sticky-anchor"></div>

    <%= t.include("partials/_nav-p3.html") %>

    <div class="title-container">
      <div class="background-img treasureisland">
          <div class="dim"></div>
        <div class="over-img dim ti">
        <div class="embarcadero-img">
          <h1 class="title long">Defying the tides</h1>
          <div class="deck">Four San Francisco projects will test defenses against a growing bay</div>
          <p class="author">By John King</a></p>
          <p class="date">September 2016</p>
        </div>
        </div>
      </div>
    </div>
    <p class="caption landing">Roland Baham of Oakland tries his luck off the eastern shoreline of Treasure Island in San Francisco, which is being transformed with an eye to sea-level rise. <span class="byline"> Michael Macor, The Chronicle</span></p>

    <div class="text">
      <p>The steep mesa of dirt that looms where Candlestick Park once stood exemplifies how concerns about climate change and sea level rise are beginning to reshape some of the most valuable land on San Francisco’s waterfront.</p>

      <p>The mound of trucked-in soil is only the prelude to the construction of a shopping center and housing units where thousands of fans once cheered Willie Mays and Joe Montana. After the dirt is graded and compressed, the shops scheduled to open on the site in 2019 will be located at least 5 feet above the former level of the entrance to the stadium used by the Giants and 49ers— a height intended as a safe perch above the rising sea for another century or more.</p>
    </div>


    <div class="float-img-container">
      <div class="float-img left">
        <img src="../assets/photos/treasureisland/02.jpg">
        <div class="caption">The site preparation to build a shopping center and housing where Candlestick Park once stood includes raising the elevation of the site as much as 10 feet — part of the development strategy to prepare for long-term sea-level-rise projections. <span class="byline">Michael Macor, The Chronicle</span></div>
      </div>
    </div>

    <div class="text">
      <p>Candlestick Point’s new topography signals what’s in store on San Francisco’s promising but problematic new frontier: As many as 24,000 housing units and expansive parks could fill four huge tracts of land at various sites along the bay. But these shoreline projects come with serious environmental risk, considering the most recent government forecast says tides in the bay could rise as much as 66 inches by 2100.</p>

      <p>That scenario causes some experts to warn against any new bayfront development projects at all. Yet there’s no denying that 21st century San Francisco has urgent needs, beginning with good housing at all price levels.</p>

      <p>That’s why the city has pursued the rebirth of these four large sites: Candlestick Point, Treasure Island, a 14-acre parking lot just south of AT&amp;T Park and a former steel works at Pier 70 below Potrero Hill. It’s also why developers have sought to build the projects, despite the costs of everything from environmental reviews to special elections.</p>
    </div>

    <div class="outer developments" style="clear: both;">

      <div class="hed">San Francisco’s next frontier</div>
      <div class="chatter">Four shoreline developments that together could add 24,000 housing units to the city, and how each is preparing for sea level rise.</div>

      <div class="mobile-development-container">
        <div class="scroll-left first" id="scroll-left-dev"><i class="fa fa-caret-left" aria-hidden="true"></i></div>
        <div class="scroll-right" id="scroll-right-dev"><i class="fa fa-caret-right" aria-hidden="true"></i></div>
        <div id="mobile-development"></div>
      </div>

      <div class="flex-map">
        <div id="sticky-development-map-top"></div>
        <div class="treasureisland-map">
          <div class="ti-image" id="tiimage">
            <img class="img" src="../assets/graphics/part3/waterfront2_bigtype_online.png">
          </div>
        </div>
        <div class="development-wrapper">
          <div class="development-info development0" id="development0"></div>
          <div class="development-info development1" id="development1"></div>
          <div class="development-info development2" id="development2"></div>
          <div class="development-info development3" id="development3"></div>
        </div>
      </div>

      <div class="interactive-credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        <div class="entry">John Blanchard  &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      </div>

      <div class="interactive-credit">
        <div class="entry">Renderings: Treasure Island, courtesy Lennar, Stockbridge Capital Group, Wilson Meany and Kenwood Investments; Candlestick Point, courtesy FivePoint; Mission Rock, courtesy Steelblue and Perkins + Will; Pier 70, courtesy Forest City</div>
      </div>

      <div class="interactive-credit">
        <div class="entry">Note: The map shows the potential impact of 5½ feet of sea level rise through 2100 if no defensive measures are taken.</div>
      </div>

    </div>

    <div class="text">

      <p>The fact is, this land exists. It would be overly cautious to rule these tracts off-limits because of environmental pressures that might not be felt in our lifetime. San Franciscans could benefit in decades to come if carefully planned projects create space for housing and jobs, as well as parks that bring people to the water — just as the Presidio’s Crissy Field was transformed from an industrial backwater to a beloved waterfront destination.</p>

      <p>The quartet moving forward on our waterfront incorporates a variety of measures to cope with climate change that is expected to alter the bay. They also show that the science of sea level rise, still heresy in some parts of the nation, is taken seriously by local decision makers. And that’s a good thing. Because if the current forecasts are accurate, the challenges we face will only increase with the passage of time.</p>

      <p>“It’s not adequate to just try and hold back the waters,” says Dilip Trivedi, a partner and principal in the Walnut Creek office of the engineering firm Moffatt &amp; Nichol, which is involved in the design of all four sites. “You have to build something resilient and work with the forces that you face.”</p>

    </div>

    <div class="inline-img">
      <img src="../assets/photos/treasureisland/05.jpg">
      <div class="caption">The north edge of Treasure Island as seen from the top of Yerba Buena Island in San Francisco. <span class="byline">Michael Macor, The Chronicle</span></div>
    </div>

    <div class="text">

      <p>If any project on San Francisco Bay seems to defy common sense, it’s the rebirth of Treasure Island.</p>

      <p>The angled 400-acre oval was created in the 1930s to hold the Golden Gate International Exposition, a phantasmagoria illuminated after dark by 10,000 colored floodlights. In less than two years, 20 million cubic feet of sand were pumped up from the bottom of the bay and dumped inside a seawall formed from 287,000 tons of rock.</p>

      <div id="archive-photo">

        <div class="float-img-container" id="expandable-photo">
          <div class="float-img right">
            <i class="fa fa-arrows-alt archive-fa tablethide" aria-hidden="true"></i>
            <img class="tablethide" src="../assets/photos/treasureisland/TI-1939-story.jpg"></img>
            <img class="tabletshow" src="../assets/photos/treasureisland/TI-1939-story-zoom.jpg">
            <div class="caption">How it came to be: a 1939 Chronicle article on the engineering that went into creation of Treasure Island</div>
          </div>
        </div>

      </div>

      <p>The island then became a naval base. Now, developers are getting ready to clear away the remaining military buildings and begin a 15-year project to build a virtual city in the middle of the bay — 8,000 housing units, a hotel, a ferry terminal and maybe even filmmaker George Lucas’ expansive museum of narrative art. But before each stage of construction begins, the ground beneath must be remade — both to withstand large earthquakes and to prepare for the likelihood of higher tides and stronger storms brought about by climate change.</p>

      <p>The west side of the island facing San Francisco’s Embarcadero, where most development will occur, would be raised to create a plateau 36 inches above today’s extreme high tide. New roads and building sites would be located 300 feet inland of the island’s rim, with the space in between devoted to a park.</p>

      <p>Besides serving as an attraction to visitors and potential residents, the landscaped park would serve as a buffer to absorb water that might surge onto the island during heavy storms at high tides. That should be sufficient if sea level rise through 2100 measures no more than 36 inches, the “most likely” scenario projected in 2012 by the National Research Council, rather than the 66 inches cited at the upper range.</p>

    </div>

    <div class="outer" style="max-width: 700px; margin: 20px auto">

      <div class="hed">Treasure Island: past and future</div>
      <div class="chatter">Move the slider to compare the Golden Gate International Exposition with how Treasure Island might look in 20 years.</div>

      <div style="text-align: center; width: 90%; margin: 0 auto;">
      <image-slider style="width: 100%; max-width: 700px; overflow: hidden">
        <img src="../assets/graphics/part3/historic.jpg">
        <img src="../assets/graphics/part3/proposed.jpg">
      </image-slider>
      </div>

      <div class="interactive-credit">
          <div class="entry">Benjamin Din  &bull; <a href="mailto:benjamin.din@gmail.com">bdin@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/benjamindin" target="_blank">@benjamindin</a></div>
      </div>

      <div class="interactive-credit">
          <div class="entry">Photos: 1939 illustrative map from Golden Gate International Exposition official guide book; 3D plan for Treasure Island from Treasure Island Community Development and CMG</div>
      </div>

    </div>

    <div class="text">

      <p>“Most likely, we’re fine to the end of century,” Trivedi said. “Worst case, at least 50 years.”</p>

      <p>Trivedi has specialized in marine engineering for 25 years, broadening his job description as sea level rise shifted from a scientific topic to a map-altering threat. Today, nearly all credible scientists anticipate that the pace of rising tides will accelerate after 2050 and continue as a byproduct of climate change.</p>

    </div>

    <div class="float-img-container">
      <div class="float-img left">
        <img src="../assets/photos/treasureisland/06.jpg">
        <div class="caption">A sailing school along the shoreline of Clipper Cove on Treasure Island in San Francisco. <span class="byline">Michael Macor, The Chronicle</span></div>
      </div>
    </div>

    <div class="text">

      <p>On Treasure Island, the impacts would be most forceful where wave and wind currents have a clear path from the Golden Gate. That’s why the development team of Lennar, Stockbridge Capital Group, Wilson Meany and Kenwood Investments takes a flexible approach to the waterfront in its approved plan. While the long park along the west side will be fairly formal, much of the island’s northern edge will be left open and eventually might become wetlands.</p>

      <p>Moffatt &amp; Nichol also worked with the developers on how to engineer the island so that — to be blunt — it won’t dissolve during an earthquake. The 1930s construction recipe of submerged clay topped by thin sand, which could liquefy if a major temblor broke the seawall, will be strengthened by a super-dense compaction of new soil and sand atop the clay.</p>

      <p>Trivedi has no pangs about working to engineer a landscape in the midst of environmental forces that might prove to be irreversible.</p>

      <p>“The reason we all live in the Bay Area is the bay,” Trivedi said. “We have a responsibility to plan in a responsible manner so that we continue to have access and safe conditions.”</p>
    </div>

    <div class="float-img-container">
      <div class="float-img right">
        <img src="../assets/photos/treasureisland/04.jpg">
        <div class="caption">The black line on this mound of imported soil shows the approximate height of the new ground level when the former site of Candlestick Park is redeveloped for housing and retail space. <span class="byline">Michael Macor, The Chronicle</span></div>
      </div>
    </div>

    <div class="text">

      <p>San Francisco’s other bayside developments use variations of what’s planned for Treasure Island, each plan adjusted to the particular site.</p>

      <p>At Candlestick Point, where the higher ground level is the first phase in remaking what once held a 70,000-seat stadium and a 7,000-car parking lot, there’s already a buffer: Candlestick Point State Recreation Area, which wraps the shore on two sides of the former stadium site.</p>

      <p>At the shoreline, the state anticipates that some portions of the recreation area might be able to support new marshes while in others, according to a 2012 plan, “engineered solutions” may be necessary. Within the development area, the infrastructure plan for the project anticipates that if sea levels rise 55 inches, “additional measures ... will be required,” such as pump stations to send the water from large storms out into the bay.</p>

      <p>Farther inland, things get easier: The former stadium site nestles the steep contours of <a href="http://www.sfchronicle.com/bayarea/place/article/Bayview-Hill-now-at-nature-s-end-zone-4879857.php#photo-5291633" target="_blank">Bayview Hill</a>, so the site will be leveled off to ascend an average of 10 feet from the current shoreline to the pad that will hold the shopping center.</p>

      <p>All this adds to the complexity of a project that includes the former Hunters Point Naval Shipyard to the north and is expected to take at least 15 years. But Kofi Bonner, who oversees the development for FivePoint and Lennar Urban, says such steps are simply part of doing business.</p>

      <p>“People at this point are very cognizant about sea level rise,” Bonner said. “We have to be comfortable (with the long-term adaptation plans), but so do financiers and insurance companies.”</p>

    </div>

    <div class="inline-img">
      <img src="../assets/photos/treasureisland/07.jpg">
      <div class="caption">Guests sample the tacos created by local chefs during La Lucha de la Cocina, an event place at Pier 70 in San Francisco. The event was a benefit for La Cocina, a Mission District nonprofit that incubates low-income and mostly female chefs and business owners. <span class="byline">Michael Macor, The Chronicle</span></div>
    </div>

    <div class="text">

      <p>As at Candlestick Point, the adaptation plan for Pier 70 also backs into higher ground, in this case the Dogpatch neighborhood. The plan is to regrade the 28-acre site, once part of a shipyard that employed as many as 18,000 people during World War II, so that it angles up from the water to building parcels that would be high enough to stay dry even if the sea level does rise 5½ feet.</p>

    </div>

    <div class="outer">
      <div class="hed">A park designed for rising tides</div>
      <div class="chatter">At the north end of Pier 70, the Port of San Francisco will start work next fall on Crane Cove Park, a bayside open space designed by the port and AECOM. The new park will be laid out so that higher tides and storm surges can coexist with recreation and be framed with raised planted areas to protect adjacent roads.</div>
      <div class="button-container">
        <div class="hightide selected button" id="hightide">Average high tide</div>
        <div class="flood button"id="flood">100-year flood level</div>
      </div>
      <div class="controls">
        <div class="start selected"><i class="fa fa-play"></i></div>
        <div class="pause"><i class="fa fa-pause"></i></div>
      </div>
      <div class="inline-img cranecove">
        <img src="../assets/graphics/part3/cranecove/cove_base.png">
        <img class="cranecove-overlay" id="cranecove-overlay">
      </div>
      <div class="interactive-credit">
        <div class="entry">Emma O'Neill  &bull; <a href="mailto:eoneill@sfchronicle.com">eoneill@sfchronicle.com</a>   &bull; <a href = "https://twitter.com/emmaruthoneill" target="_blank">@emmaruthoneill</a></div>
        <div class="entry">John Blanchard  &bull; <a href="mailto:jblanchard@sfchronicle.com">jblanchard@sfchronicle.com</a></div>
      </div>
      <div class="interactive-credit">
        <div class="entry">About the data: “Average high tide” refers to a rough average between the two high tides on a typical day. “100-year flood level” refers to the combination of high tides and floods that has a 1 percent chance of happening in any given year.</div>
      </div>
      <div class="interactive-credit">
        <div class="entry">Source: <a href="http://www.aecom.com/" target="_blank">AECOM</a></div>
      </div>
    </div>

    <div class="text">

      <p>“It will be as if we’re tilting the site, like a tabletop,” said Jack Sylvan, project manager of developer Forest City.</p>

      <p>Which sounds simple, except that three historic industrial structures on low-lying ground are included in the larger redevelopment plans. In one case, an immense ghost of corrugated steel from 1941 where metal plates were cut and forged as part of the shipbuilding process, the preferred option is to jack up the gaunt frame, then restore the building at the new elevation.</p>
    </div>

    <div class="wide-format-photo">
        <img src="../assets/photos/treasureisland/08.jpg">
        <div class="caption">Pro Wrestling Revolution fighters battle it out in the ring during La Lucha de la Cocina at Pier 70 in San Francisco. <span class="byline">Michael Macor, The Chronicle</span></div>
    </div>

    <div class="text">

      <p>“We could leave it in a moat and build the soil up around it,” Sylvan said. “Sea level rise would never get to it, but you’d feel like the building was in a bathtub.”</p>

      <p>The site’s transition from today’s shoreline to the planned development zone involves a concept called “managed retreat.” The slope would be terraced in a procession of paths and native plants, culminating in a landscaped strip located above the most extreme sea-rise projections for 2100. Beyond that would be the Bay Trail.</p>

      <p>“This lets us provide for flexibility,” said Sylvan, who is aiming for the decade-long project to be approved next year and begin construction in 2018. “We want to design for today, but accommodate for what might happen in the future.”</p>

    </div>

    <div class="float-img-container">
      <div class="float-img left">
        <img src="../assets/photos/treasureisland/09.jpg">
        <div class="caption">AT&T Park, home of the San Francisco Giants, as seen from McCovey Cove in San Francisco. The parking lot across the street will be developed by the Giants in a project called Mission Rock. <span class="byline">Michael Macor, The Chronicle</span></div>
      </div>
    </div>

    <div class="text">

      <p>There’s less room to maneuver at the parking lot across McCovey Cove from AT&amp;T Park.</p>

      <p>The Giants would be the developer of what’s being called Mission Rock, and the nine-block plan would extend the existing street grid east from Third Street to Terry Francois Boulevard. But the Port of San Francisco also wants the development’s central streets and building sites raised to 66 inches above today’s highest tide.</p>

      <p>The solution is to shape what amounts almost to a flat-topped hillock within the site. New streets would extend up from the existing ones along the edge of the site. The central blocks would form a plateau at the 66-inch level and hold buildings as tall as 240 feet around a central plaza.</p>

      <p>The buildings along Terry Francois would have extra-high ground floors with openings along a walkway several feet above the existing street, like loading docks of old, reachable by stairs or ramps. Facing Third Street, the sidewalk levels of inland towers might have tall stoops or multilevel lobbies.</p>

    </div>

    <div class="float-img-container">
      <div class="float-img right">
        <img src="../assets/photos/treasureisland/10.jpg">
        <div class="caption">Looking out from the upper deck of AT&T Park over the parking lot that one day is to become the Mission Rock development in San Francisco. <span class="byline">Michael Macor, The Chronicle</span></div>
      </div>
    </div>

    <div class="text">

      <p>To the north, along China Basin, the expansive park intended as a symbol for Mission Rock would fan down from the central blocks. The design might involve such touches as a tiered slope in one section that could double as informal seating for outdoor events.</p>

      <p>“A lot of engineering goes into this,” conceded Kristen Hall of Perkins + Will, the planning firm working with the Giants. She said that, until this year, scenarios for the still-evolving plan set the central blocks just 55 inches above today’s flood line. When city planners raised the bar to 66 inches, new studies were required to make sure that the slope of the streets wouldn’t violate federal standards for disabled access and that the project would still pencil out.</p>

      <p>Both are legitimate concerns. And both raise the question of what might happen if the projections of sea level rise are raised again.</p>

    </div>

    <div class="float-img-container">
      <div class="float-img left">
        <img src="../assets/photos/treasureisland/11.jpg">
        <div class="caption">The view of Pier 48 and the site of the proposed Mission Rock development from the upper deck of AT&T Park in San Francisco. <span class="byline">Michael Macor, The Chronicle</span></div>
      </div>
    </div>

    <div class="text">
      <p>That isn’t a far-off prospect, say some experts in the field.</p>

      <p>“All of the science is pointing toward a higher number, and sooner,” warned Kristina Hill, an associate professor at UC Berkeley’s College of Environmental Design, who is researching urban design responses to sea level rise. “We will likely have less time to do more than we now think we need to do.”</p>

      <p>Another skeptic is Orrin Pilkey, a professor emeritus at Duke University’s Division of Earth and Ocean Sciences and co-author of the recent book, “Retreat From a Rising Sea: Hard Choices in an Age of Climate Change.”</p>

      <p>Given the long-term nature of sea level rise, and the way that forecasts regarding tidal changes have tended to get more severe rather than less ominous, Pilkey questions the wisdom of high-density development in low-lying areas such as the four bayside parcels. After reviewing the adaptation strategies for the proposals, however, he was impressed that the city was requiring developers to take projections through 2100 into account.</p>

      <p>“There’s no sign of ignorance, or ignoring the subject, and that’s pleasant to see,” said Pilkey. He compared the city’s approach to that of his home state of North Carolina, where the <a href="https://deq.nc.gov/about/divisions/coastal-management/coastal-resources-commission/sea-level-rise-study-update" target="_blank">Coastal Resources Commission </a>gives official credence only to projections that extend no more than 30 years into the future.</p>

      <p>For their part, developers say they are looking to government for cues on what to do next.</p>

      <p>“Our job isn’t to evaluate sea-level-rise data. We’re developers,” said Pier 70’s Sylvan. “We’re relying on our experts, and on guidance from the city and state. That’s the job of regulatory bodies.”</p>

    </div>

    <div class="inline-img">
        <img src="../assets/photos/treasureisland/12.jpg">
        <div class="caption">The view from the eastern shore of Treasure Island in San Francisco. <span class="byline">Michael Macor, The Chronicle</span></div>
    </div>

    <div class="text">

      <p>San Francisco is smart to require developers along the bay to plan not just a few decades ahead, but for 80 years and more. This is a case where relying on credible long-range projections is smarter than kicking the likely problem down the road to the next generation of decision makers.</p>

      <p>And by setting the baseline at the National Research Council’s 66-inch projection — “unlikely, but possible” — rather than the “most likely” mark of 36 inches, the city is erring on the side of caution.</p>

      <p>It’s also smart that each of the four developments discussed here is likely to include annual fees or taxes charged to property owners, along the lines of the Mello-Roos districts that have been created in the past 30 years to help fund infrastructure upgrades in new suburban neighborhoods and urban districts.</p>

      <p>Here, the idea would be that after the initial infrastructure bonds are paid off, the future revenues would be set aside to fund adaptation as needed. If higher tides at some point bring about a call for berms at the water’s edge, for instance, or new pumping facilities, money should be available.</p>

      <p>These waterfront tracts are parts of the city that, redeveloped properly, can make San Francisco a better place. They also can serve as test labs of sorts, allowing development but also leaving room for future phases to be revised as we gain a better understanding of how sea level rise plays out.</p>

      <p>Obviously, the stakes are high. But if these projects are done with far-sighted imagination, they can be used to model new forms of waterfront growth, keyed to the awareness that tides and shorelines can no longer be viewed as static, predictable things.</p>

    </div>

    <div class="inline-img">
      <%= t.include("partials/_introbox.html") %>
    </div>

    <div id="bigarchive">
      <div id="big2">

        <a href="javascript:void(0)" onclick="closeme()">
            <img style="position: relative;" src="../assets/photos/treasureisland/TI-1939-story-zoom.jpg">
            <i class="fa fa-times fa-2x archive-fa" aria-hidden="true"></i>
        </a>
      </div>
    </div>

    <script>
    function closeme() {
      event.preventDefault();
      document.getElementById("bigarchive").style.display = "none";
      document.body.style.overflow = "scroll";
    }
    </script>


    <div class="a-next"><a href="<%= json.project.url + json.project.slug %>" id="next" class="anchor"><div class="next">Read the rest of Rising Reality</div></a></div>

    <%= t.include("partials/_footer.html") %>

    <script>
      var mapData = <%= JSON.stringify(csv.development_data) %>;
    </script>

    <script src="../treasureisland_app.js" async></script>
    <%= t.include("partials/_helloSFC.html") %>

  </body>
</html>
